// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*FOOTER*/

footer {

	.footer-links {
		width: 740px;
		margin: 0 auto;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: inline;
	}
}

footer a {
	margin: 0 20px;
}




@media (max-width: 767px) {
	.footer-links a {
		display: block;
		text-align: center;
	}
}