// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*NAVBAR*/

header .navbar-default {
	background-color: #50b3f9;
	border: none;
	border-radius: 0;
	color: white;

	img {
		height: 40px;
		width: auto;
		margin-top: 5px;
	}

	.navbar-nav li a {
		color: white;
	}

	.open a {
		color: white;
		background-color: #50b3f9;
	}


	.dropdown-menu {
		background-color: #50b3f9;
		margin-top: 2px;



		
	}
}

body .intro {
  background-color: #ffab52;
  text-align: center;
  margin-top: -72px;
  padding: 100px;

  h2, h3 {
      color: white;
      font-weight: bold;

   }

   .btn-primary {
  		background-color: #50b3f9;
  		border: none;
  		margin: 30px; 

  		&:hover {
  			background-color: #3981b4;
  		}
   }
}

#notice {
	margin-bottom: 0;
}



/*FOOTER*/

footer {

	.footer-links {
		text-align: center;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: inline;

	}
}

footer a {
	margin: 0 20px;
}




@media (max-width: 767px) {
	.footer-links a {
		display: block;
		text-align: center;
	}
}